# Solr log files
solr/server/logs
solr/server/solr/hsperfdata_*

transcriptions/**/*.docx
transcriptions/**/*.doc

web/public/transcriptions/**/*.docx
web/public/transcriptions/**/*.doc
ontology/OWLWriter/transcriptions/**/*.docx
ontology/OWLWriter/transcriptions/**/*.doc

