body {
  padding-top: 45px;
}

.search-row {
	background-color: #333; 
	width:100%;
	margin:auto;
	color:#fff;
	font-family: 'Open Sans';
    font-weight: 300;
	opacity: 0.65; 
    background-color: #333;
}

.keyword {
	color:#2E9AFE;
}

.container-search {
	background: url('../img/searchBackground.jpg');
	background-size:     cover;                     
    background-repeat:   no-repeat;
    background-position: center center; 
	margin: auto;
	padding: 0px;
	margin-left: 0px;
	margin-right: 0px;
	width: 100%;
}

/*
.panel-heading a p.caret-span:after {
	font-family:'Glyphicons Halflings';
    content:"\e114";
    font-size: 150%;
    margin-top: 15%;
    color: grey;
}
.panel-heading a.collapsed p.caret-span:after {
    content:"\e080";
}
*/

.caret-span{
	font-size: 150%;
    float: right;
    color: grey;
}

.panel-heading a:hover{
	text-decoration: none;
}

.container-results {
	padding-top: 15px;
	padding-bottom: 10%;
}

p.result-index, p.caret-span {
	float: right;
}

.row {
	margin-right: 0;
}

#no-results {
	text-align: center;
}

p.score {
	float: right;
	font-size: 80%;
}

.pager{
    font-size: inherit; 
    font-weight: inherit;
}

.pager li>a, .pager li>span {
	border: 1px solid #ddd;
}

#server-down-sad-face {
	font-size: 1000%;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}